@font-face {
   font-family: 'euphorigenic';
   src: url('euphorigenic/font.ttf');
}
@font-face {
   font-family: 'YsabeauSC-Extralight';
   src: url('YsabeauSC-Extralight/font.ttf');
}
@font-face {
   font-family: 'Charter Bold';
   src: url('Charter Bold/font.ttf');
}
@font-face {
   font-family: 'Charter Regular';
   src: url('Charter Regular/font.ttf');
}
