@font-face {
   font-family: 'Truculenta-Thin';
   src: url('Truculenta-Thin/font.ttf');
}
@font-face {
   font-family: 'Ysabeau-Heavy';
   src: url('Ysabeau-Heavy/font.ttf');
}
@font-face {
   font-family: 'Ysabeau-Regular';
   src: url('Ysabeau-Regular/font.ttf');
}
