@font-face {
   font-family: 'Newsreader16pt-Light';
   font-display: swap;
   src: url('file:///C:/Users/Phyl/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-08-17_205729/fonts/Newsreader16pt-Light/font.ttf');
}
